@media(max-width: 1280px) {
    .content {
        grid-template-columns: 1;
        justify-content: center;

        &-left {
            display: none;
        }

    }
}

@media(max-width: 991.98px) {
    .content {
        &-right {
            .logo {
                height: 1.7rem;
            }

            .form {
                .form-title {
                    font-size: 1.6rem;
                }

                .form-subtitle {
                    font-size:0.9rem;
                    margin-bottom: 1.8rem;
                }

                .form-sign-in {
                    .form-label {
                        position: relative;
                        margin-bottom: 2rem;
                    }
                }
            }    
        }
    }
}

@media(max-width:768px) {
    .content {
        &-right {
            padding:2rem;
            width: 100%;
        }
    }
}